a,
a:hover {
	color: #555354;
}

.intro .page-scroll a:hover {
	color: #555354;
}

.icon:hover .fa {
	color: #555354;
}

ul.nav li a:hover {
	color: #555354;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background-color: #555354;
}

.bg-skin {
	background: #555354;
}

form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
	border-color: #555354;
}

footer {
	background-color: #555354;
}

.btn-skin {
	color: #fff;
	background-color: #555354;
	border-color: #555354;
}